.search-bar {
  width: 100%;
  height: px2rem(40px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding-top: 14px;
  .bar-location {
    display: flex;
    align-items: center;
    margin-right: px2rem(20px);
    border-radius: px2rem(14px);
    height: px2rem(24px);
    width: px2rem(80px);
    background-color: rgba(0, 0, 0, 0.33);
  }

  .location-icon {
    width: px2rem(15px);
    height: px2rem(15px);
    border-radius: px2rem(14px);
    margin-right: px2rem(10px);
    margin-left: px2rem(4px);
    background-image: url('./img/location.png');
    background-size: cover;
  }
  .location-text {
    font-size: px2rem(10px);
    vertical-align: middle;
    text-align: center;
    margin-right: px2rem(4px);
    color: #fff;
  }
  .location-right {
    width: px2rem(10px);
    height: px2rem(10px);
    background-image: url('./img/right.png');
    background-size: cover;
  }
  .search-btn {
    display: flex;
    align-items: center;
    width: px2rem(150px);
    height: px2rem(24px);
    background-color: #fff;
    border-radius: px2rem(12px);
  }
  .search-right {
    width: px2rem(10px);
    height: px2rem(10px);
    margin-left: px2rem(8px);
    margin-right: px2rem(8px);
    background-image: url('./img/find.png');
    background-size: cover;
  }
  .place-holder {
    color: #9a9a9a;
    font-size: px2rem(12px);
    height: 100%;
    line-height: px2rem(24px);
    margin-left: px2rem(8px);
  }
}
