.r-item-content {
  display: flex;
  padding-top: px2rem(10px);
  margin-top: px2rem(15px);
  margin-bottom: px2rem(15px);

  &:after {
    background-color: #e4e4e4;
  }
  .item-img {
    margin-left: px2rem(10px);

    width: px2rem(86px);
    height: px2rem(66px);
    border: 1px solid #e4e4e4;
  }
  .item-info-content {
    flex: 1;
    margin-left: px2rem(7px);
  }
  .brand {
    position: absolute;
    top: 0;
    left: 0;
    font-size: px2rem(12px);
    padding: px2rem(4px);
    color: #fff;
    background-color: #ffa627;
  }
  .brand-new {
    background-color: #ff5555;
  }
  .item-title {
    font-size: px2rem(16px);
    font-weight: 500;
    color: #333;
  }
  .item-des {
    font-size: px2rem(16px);
    margin-top: px2rem(8px);
    color: #333;
  }
  .item-score {
    float: left;
  }
  .item-count {
    float: left;
    margin-left: px2rem(5px);
  }
  .item-distance {
    float: right;
    margin-right: px2rem(5px);
  }
  .item-time {
    float: right;
  }
  .item-price {
    margin-top: px2rem(4px);
    font-size: px2rem(12px);
    height: px2rem(24px);
  }
  .item-pre-price {
    font-size: px2rem(12px);
    height: px2rem(24px);
  }
  .star {
    width: px2rem(10px);
    height: px2rem(10px);
    float: left;
    background-size: cover;
  }
  .fullstar {
    background-image: url('./img/full-star.png');
  }
  .halfstar {
    background-image: url('./img/halfstar.png');
  }
  .nullstar {
    background-image: url('./img/gray-star.png');
  }
  .item-flag {
    float: right;
    color: #fff;
    font-size: px2rem(10px);
    background-color: #ffa627;
    padding: 3px;
    border-radius: 3px;
    margin-right: 20px;
  }
  .item-others {
    color: #8a8a8a;
    margin-top: 7px;
    font-size: 12px;
  }
  .other-tag {
    width: 14px;
    height: 14px;
    display: inline-block;
  }
  .other-content {
    display: inline-block;
    vertical-align: 3px;
    margin-left: 3px;
  }
}
