// @mixin px2px($name, $px) {
//   #{$name}: round($px/2) * 1px;
//   [data-dpr='2']& {
//     #{$name}: $px * 1px;
//   }
//   // for mx3
//   [data-dpr='2.5'] & {
//     #{$name}: round($px * 2.5 / 2) * 1px;
//   }
//   // for 小米note
//   [data-dpr='2.75'] & {
//     #{$name}: round($px * 2.75 / 2) * 1px;
//   }
//   [data-dpr='3'] & {
//     #{$name}: round($px / 2 * 3) * 1px;
//   }
//   // for 三星note4
//   [data-dpr='4'] & {
//     #{$name}: $px * 2px;
//   }
// }

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  border-top: 1px solid #b6b6b6;
  background-color: rgba(246, 246, 246, 0.95);
  .btn-item {
    flex: 1;
    font-size: 24px; /*px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: '#8a8a8a';
    .tab-icon {
      margin-bottom: 4px;
      width: 25px;
      height: 25px;
      background-size: cover;
    }
    &.active {
      color: '#1296db';
    }
    // 取父元素class
    &.mine {
      // 设置父元素是mine的子元素class
      .tab-icon {
        background-image: url(./img/mine.png);
      }
    }
    &.mine.active {
      // 设置父元素是mine的子元素class
      .tab-icon {
        background-image: url(./img/mineActive.png);
      }
    }
    &.order {
      .tab-icon {
        background-image: url(./img/order.png);
      }
    }
    &.order.active {
      .tab-icon {
        background-image: url(./img/orderActive.png);
      }
    }
    &.home {
      .tab-icon {
        background-image: url(./img/home.png);
      }
    }
    &.home.active {
      .tab-icon {
        background-image: url(./img/homeActive.png);
      }
    }
  }
}
