.header {
  widows: 100%;
  background-color: #fff;
  margin-top: px2rem(64px);
  .header-top {
    position: fixed;
    width: 100%;
    display: flex;
    height: px2rem(40px);
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
  }

  .item {
    position: relative;
    font-size: px2rem(16px);
    color: #2f2f2f;
    height: 20px;
    border-right: 1px solid #3e3e3e;
    flex: 1;
    text-align: center;
    &.cate:after,
    &.type:after {
      content: '';
      display: inline-block;
      width: px2rem(8px);
      height: px2rem(8px);
      margin-bottom: px2rem(2px);
      margin-left: px2rem(16px);
      border: 1px solid #333;
      border-width: 0px 1px 1px 0px;
      transform: rotate(45deg);
      transition: 0.3;
    }
    &.filter:after {
      content: '';
      display: inline-block;
      // margin-bottom: px2rem(-3px);
      margin-left: px2rem(14px);
      width: px2rem(16px);
      height: px2rem(16px);
      background-image: url('./img/filter.png');
      background-size: cover;
    }
    &.current:not(.filter):after {
      transform: rotate(225deg);
    }
    // 三角
    &:before {
      content: '';
      display: none;
      position: absolute;
      top: px2rem(24px);
      left: 49%;
      width: px2rem(10px);
      height: px2rem(10px);
      background-color: #fff;
      border: 1px solid #e4e4e4;
      border-width: 0px 1px 1px 0px;
      transform: rotate(225deg);
    }
    &.current:before {
      display: block;
    }
  }
  .item:last-child {
    border-right: none;
  }
  // ---
  .panel {
    position: absolute;
    display: none;
    z-index: 4;
    left: 0;
    top: 105px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    &.show {
      display: block;
    }
    .panel-inner {
      height: 300px;
      // 垂直方向滚动
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      > ul {
        display: none;
        background-color: #fff;
        &.current {
          display: block;
        }
      }
    }
    .item-title {
      position: relative;
      font-size: px2rem(12px);
      background-color: #efefef;
      line-height: px2rem(30px);
      color: #666;
      padding-left: px2rem(13px);
      box-sizing: border-box;
      &:before {
        content: '';
        position: absolute;
        display: block;
        margin-top: px2rem(8px);
        margin-right: px2rem(6px);
        margin-left: px2rem(-8px);
        width: px2rem(2px);
        height: px2rem(16px);
        background-color: #ffd161;
      }
    }
    .item-content {
      min-height: px2rem(20px);
    }
    .cate-box {
      float: left;
      position: relative;
      width: 33.33%;
      font-size: px2rem(12px);
      padding: 10px;
      box-sizing: border-box;
    }
    .cate-box-inner {
      border: 1px solid #c4c4c4;
      text-align: center;
      color: #666;
      height: px2rem(37px);
      line-height: px2rem(37px);
      &.active {
        // background-color: #c4c4c4;
        color: #ffd161;
        border-color: #ffd161;
      }
    }
    .has-icon img {
      display: block;
      width: px2rem(18px);
      height: px2rem(18px);
      position: absolute;
      top: px2rem(18px);
      left: px2rem(14px);
    }
    // --综合排序
    .type-item {
      border-bottom: 1px solid #c4c4c4;
      height: px2rem(44px);
      font-size: px2rem(13px);
      color: #666;
      line-height: px2rem(44px);
      padding-left: px2rem(20px);
      box-sizing: border-box;
    }
    // --筛选filter
    .filter-item {
      margin-bottom: px2rem(10px);
      margin-top: px2rem(10px);
      padding-left: px2rem(5px);
      padding-right: px2rem(5px);
    }
    .filter-title {
      color: #999;
      font-size: px2rem(12px);
      padding-left: px2rem(14px);
    }
  }
}
